<header>
  <nav class="navbar navbar-expand-lg">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Quiz App</a>

    <!-- Toggler/collapsibe Button -->
    <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><svg viewBox="0 0 100 80" width="40" height="35">
        <rect width="100" height="5" x="-18"></rect>
        <rect y="25" width="100" height="5" x="-18"></rect>
        <rect y="50" width="100" height="5" x="-18"></rect>
      </svg> </span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">

        <% if (!user) { %>
        <form method="POST" action="/login">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <lable>Username</lable>
          <input type="text" name="username"></input>
          <button>Login</button>
        </form>
        <%  } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-quiz">Create Quizz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/quiz/all">My Quizzes</a>
          </li>
          <li class="nav-item">
            <p> <%= user %></p>
          </li>
          <%  } %>
      </ul>
    </div>
  </nav>
</header>
