<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <body>
    <h1>Welcome to the Quiz App!</h1>

    <h2>Public Quizzes</h2>
    <ul class="quiz-list">
      <!-- List of quizzes would be populated here -->
      <li>
        <a href="#">
          <h3>Quiz Title 1</h3>
          <p>Created by User 1</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h3>Quiz Title 2</h3>
          <p>Created by User 2</p>
        </a>
      </li>
      <!-- ... -->
    </ul>

    <h2>Create a new Quiz</h2>
    <form action="/create-quiz" method="post">
      <label for="quiz-title">Quiz Title:</label><br>
      <input type="text" id="quiz-title" name="quiz-title"><br>
      <label for="quiz-desc">Quiz Description:</label><br>
      <textarea id="quiz-desc" name="quiz-desc"></textarea><br>
      <input type="submit" value="Create Quiz">
    </form>
</body>

</html>
