<!DOCTYPE html>
<html lang="en">

<head>
  <title>Result</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/quiz_results.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/nav.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <section>
  <h1 id="title">Quiz Result</h1>
  <p id="score">Hey <%= userId %>, Your score is: <%= score %></p>

  <% if (score >= 3) { %>
    <p id="success-message">Congratulations! You passed the quiz</p>
  <% } else { %>
    <p id="failure-message">Sorry, you did not pass the quiz</p>
  <% } %>
</section>
</body>

</html>
