<!DOCTYPE html>
<html lang="en">

<head>
  <title>Attempt the quiz</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <h1>Quiz</h1>

  <article id="question">Which province is known for its maple syrup production?</article>

  <section id="options">
    <input type="radio" name="answer" id="option1">
    <label for="option1">Quebec</label><br>

    <input type="radio" name="answer" id="option2">
    <label for="option2">Ontario</label><br>

    <input type="radio" name="answer" id="option3">
    <label for="option3">Alberta</label><br>

    <input type="radio" name="answer" id="option4">
    <label for="option4">Manitoba</label><br>
  </section>

  <button>Submit</button>

</body>

</html>
