
.modal {
  display: none;
  position: fixed;
  left: 0;
  border: 1px solid black;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #14213d; /* Fallback color */
}
.modal-content {
  background-color: #e5e5e5;
  padding: 20px;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.modal-email {
  display: flex;
  justify-content: space-between;
}


#quiz-box {
  border: 1px solid black;
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  background-color: #e5e5e5;
  color:black;
  border-radius: 25px;
  min-height:100px;
  min-width: 1000px;
  flex-direction: column;
}

.title-quiz {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid black;

}

#quiz-form-top {
  display: grid;
  justify-content: center;
  justify-items: center;
}




.question-container {
  display: flex;
  flex-direction: column;
}


.answers-container {
  display: flex;
  flex-direction: row;
}
