.footer {
  height: 80px;
  background-color: #fca311;
  color: #ffffff;
  width: 100%;


}

.container {
  padding-top: 20px;;
  display: flex;
  justify-content: center;
  align-items: center;
}



