body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: #14213d;
}


#quiz-box {
  border: 1px solid black;
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #e5e5e5;
}


@media screen and (min-width: 1024px) {
  .quiz-container {
    margin:50px;
  }
}
