.main {
  display: flex;
  height:700px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  color: white;
  background-color: #14213d;
  padding-top: 10px;
}
