nav {
  height: 100px;
  background-color: #fca311;
  top: 0;
  transition: height 0.1s ease;
  color:inherit;
  font-size:large;
}

.navbar-toggler {
  background-color: white;
}

.expanded {
  overflow: visible;
}

.username {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 10px;
}


.welcome {
  position: absolute;
  top: 5px;
  right: 20px;
  margin: 10px 10px 2px 10px;
  color:#14213d;
}

.login {
  padding: 5px 20px;
  background-color: #14213d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login:focus {
  outline: none;
}

.login:hover {
  background-color: #e5e5e5;
  color:#14213d;
}


.logout {
  padding: 5px 20px;
  background-color: #14213d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout:focus {
  outline: none;
}

.logout:hover {
  background-color: #e5e5e5;
  color:#14213d;
}


@media (max-width: 990px) and (min-width:200px) {
  .welcome {
      position: static;
      margin: 0;
    }
  }

@media (max-width: 990px) and (min-width:200px) {
    .username {
      position: static;
      margin: 0;
    }
  }
