$background-color: #14213d;
$nav-color: #fca311;
$primary-color: #e5e5e5;

.results {
  font-family: Arial, sans-serif;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  background-color: $background-color;
  padding: 20px;
}

h1#title {
  color: $background-color;
  margin-bottom: 100px;
  font-weight: 800;
}

section {
  background-color: $primary-color;
  border-radius: 5px;
  padding: 120px;
  margin: 0 auto;
  border-color: $nav-color;
  border-style: groove;
  border-width: 5px;
}

p#score {
  margin-bottom: 100px;
}

p#success-message {
  color: green;
}

p#failure-message {
  color: red;
}
