$background-color: #14213d;
$nav-color: #fca311;
$primary-color: #e5e5e5;

.quiz-questions {
  font-family: Arial, sans-serif;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  background-color: $background-color;
  padding: 20px;
}

h1 {
  padding: 20px;
  color: $nav-color;
  margin-bottom: 50px;
  font-weight: 800;
}

section#container {
  background-color: $primary-color;
  border-radius: 5px;
  padding: 150px;
  border-color: $nav-color;
  border-style: groove;
  border-width: 5px;
  font-size: xx-large;
}

.choice-button {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  background-color: $primary-color;
  border: none;
  color: $background-color;
  cursor: pointer;
}

.choice-button:hover {
  background-color: $nav-color;
  color: #ffffff;
}

.choice-button input[type="checkbox"] {
  display: none;
}

.choice-button input[type="checkbox"]:checked + label {
  background-color: $nav-color;
  color: #ffffff;
}

input[type="checkbox"] {
  margin-right: 10px;
}

#next-btn,
#submit-btn {
  padding: 10px 20px;
  border: none;
  background-color: $nav-color;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#next-btn:hover,
#submit-btn:hover {
  background-color: $nav-color;
  color: $background-color;
}

#next-btn {
  margin-top: 20px;
}

#submit-btn {
  display: none;
  margin-top: 20px;
}
.error-message{
  margin-bottom: 50px;
  color: $primary-color;
}
